.container-primary {
  min-height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgb(51, 51, 51),
      rgba(38, 38, 38, 0.8)
    ),
    url('../../../src/assets/nat-4.jpg');
  background-size: cover;
  background-position: top;
}
