@import 'src/styles/abstracts/mixins';

.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  @include respond(tab-port) {
    margin: auto 1rem;
  }

  .heading {
    font-size: 2rem;

    @include respond(phone) {
      text-align: center;
    }
  }
}
