@import 'src/styles/abstracts/mixins';

.container {
  @include absCenter;
  color: white;
  text-align: center;

  .status {
    font-size: 16rem;
    font-family: cursive;
    letter-spacing: 0.7rem;
  }
}
