@import 'src/styles/abstracts/mixins';

.container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 4rem;
  list-style: none;

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    margin: auto 1rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    margin: 0;
  }
}
